@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --clr-softred: hsl(10, 79%, 65%);
    --clr-cyan: hsl(186, 34%, 60%);

    --clr-darkbrown: hsl(25, 47%, 15%);
    --clr-mediumbrown: hsl(28, 10%, 53%);
    --clr-cream: hsl(27, 66%, 92%);
    --clr-verypaleorange: hsl(33, 100%, 98%);

    --font-normal: 400;
    --font-bold: 700;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    background-color: var(--clr-cream);
}

.small__font {
    font-size: 12px;
}

.large__font {
    font-size: 26px;
    font-weight: var(--font-bold);
}

.balance__container {
    display: flex;
    justify-content: space-between;
    background-color: var(--clr-softred);
    align-items: center;
    max-width: 30rem;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 12rem;
    color: var(--clr-verypaleorange);
    border-radius: 16px;
}

.balance__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.balance__amount {
    letter-spacing: 1px;
    font-weight: var(--font-bold);
    font-size: 22px;
}

.chart__container {
    color: var(--clr-darkbrown);
    background: var(--clr-verypaleorange);
    max-width: 30rem;
    margin: 1.5rem auto 0;
    border-radius: 16px;
    margin-bottom: 2rem;
}

h1 {
    padding-top: 2rem;
    padding-left: 2rem;
    font-weight: var(--font-bold);
    font-size: 2rem;
}


.chart__bars {
    display: flex;
    justify-content: space-between;
    margin: 0 2.5rem;
    align-items: flex-end;
    gap: 1rem;
    margin-top: 4rem;
    text-align: center;
}

.bar {
    background-color: var(--clr-softred);
    width: 2.5rem;
    border-radius: 7px;
}

hr {
    max-width: 26rem;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
}

.chart__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
    padding-bottom: 2rem;
}

.chart__thismonth {
    margin-left: 2rem;
}

.percentage {
    font-weight: var(--font-bold);
    text-align: end;
    align-self: flex-end;
}
